# Use the Google style in this project.
BasedOnStyle: Google

# Format raw string literals with a `pb` or `proto` tag as proto.
RawStringFormats:
- Language: TextProto
  Delimiters:
  - 'pb'
  - 'proto'
  BasedOnStyle: Google

UseTab: ForIndentation
ColumnLimit: 0
TabWidth: 4
IndentCaseLabels: true
IndentWidth: 4
